# Dependencies
node_modules

# Build output
dist

# Environment variables (never commit secrets)
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Prisma
prisma/generated
